
  background:black;
}
p {
  font-family: fantasy;
  color: rgb(100, 0, 0);
}
h1{
  color: rgb(150, 0, 0);
  font-family:fantasy ;
}
ul {
  color: rgb(150, 0, 200);
}
 {
  color: rgb(100, 0, 0);
}
h2 {
  color: rgb(100, 0, 0);
}
